@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  background-color: rgb(28, 0, 94);
}
.text {
  color: #fff;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
